# Use glob syntax.
syntax: glob

################################################################################
# Directories
################################################################################

# Build artifacts
**/bin/**
**/build/**
*.kotlin
*/out/**
test-output/**
output/**
*.jar
*evSOLve*

# Gradle
**/.gradle/**
.groovy/*
gradle-app.setting

## Eclipse
**/.settings/**

## Wiki
wiki/**

# Generated code
src/generated

################################################################################
# Files
################################################################################

*.so
*.dblite
random-x86_64
.DS_Store

## Eclipse
.classpath
.project

## IDEA
*.iml
*.ipr
*.iws
.idea/*
classes/*

## Netbeans
.nb-gradle/**
nbproject/**
nbbuild/**
build.xml
manifest.mf
/build/
