<?xml version="1.0" encoding="UTF-8"?>
<!--
 ###############################################################################
 #
 # Java Genetic Algorithm Library (@__identifier__@).
 # Copyright (c) @__year__@ Franz Wilhelmstötter
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # Author:
 #    Franz Wilhelmstötter (franz.wilhelmstoetter@gmx.at)
 #
 # Version: <em>$Date: 2013-12-09 $</em>
 #
 ###############################################################################
-->
<suite name="Jenetix" verbose="2" parallel="tests" thread-count="5" >
	<test name="org.jenetix.LargeIntegerChromosome">
		<classes>
			<class name="org.jenetix.LargeIntegerChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetix.LargeIntegerGene">
		<classes>
			<class name="org.jenetix.LargeIntegerGeneTest" />
		</classes>
	</test>
	<test name="org.jenetix.util.NumberRandom">
		<classes>
			<class name="org.jenetix.util.LargeIntegerRandomTest" />
			<class name="org.jenetix.util.LCG32ShiftRandomTest" />
		</classes>
	</test>
</suite> 
