<?xml version="1.0" encoding="UTF-8"?>
<suite name="Jenetics" verbose="2" system-id="http://testng.org/testng-1.0.dtd">
	<test name="org.jenetics.BitChromosome">
		<classes>
			<class name="org.jenetics.BitChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.BitGene">
		<classes>
			<class name="org.jenetics.BitGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.BitUtils">
		<classes>
			<class name="org.jenetics.BitUtilsTest" />
		</classes>
	</test>
	<test name="org.jenetics.CharacterChromosome">
		<classes>
			<class name="org.jenetics.CharacterChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.CharacterGene">
		<classes>
			<class name="org.jenetics.CharacterGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.ConcurrentStatisticCalculator">
		<classes>
			<class name="org.jenetics.ConcurrentStatisticCalculatorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.DoubleChromosome">
		<classes>
			<class name="org.jenetics.DoubleChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.DoubleGene">
		<classes>
			<class name="org.jenetics.DoubleGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.EnumGene">
		<classes>
			<class name="org.jenetics.EnumGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.Genotype">
		<classes>
			<class name="org.jenetics.GenotypeTest" />
		</classes>
	</test>
	<test name="org.jenetics.IntegerChromosome">
		<classes>
			<class name="org.jenetics.IntegerChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.IntegerGene">
		<classes>
			<class name="org.jenetics.IntegerGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.PartiallyMatchedCrossover">
		<classes>
			<class name="org.jenetics.PartiallyMatchedCrossoverTest" />
		</classes>
	</test>
	<test name="org.jenetics.PermutationChromosome">
		<classes>
			<class name="org.jenetics.PermutationChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Phenotype">
		<classes>
			<class name="org.jenetics.PhenotypeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Population">
		<classes>
			<class name="org.jenetics.PopulationTest" />
		</classes>
	</test>
	<test name="org.jenetics.ProbabilitySelector">
		<classes>
			<class name="org.jenetics.ProbabilitySelectorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.Statistic">
		<classes>
			<class name="org.jenetics.StatisticTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.Array">
		<classes>
			<class name="org.jenetics.util.ArrayTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.ArrayUtils">
		<classes>
			<class name="org.jenetics.util.ArrayUtilsTest" />
		</classes>
	</test>		
</suite>

