<?xml version="1.0" encoding="UTF-8"?>
<suite name="Jenetics" verbose="2" system-id="http://testng.org/testng-1.0.dtd">
	<test name="org.jenetics.BitChromosome">
		<classes>
			<class name="org.jenetics.BitChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.BitGene">
		<classes>
			<class name="org.jenetics.BitGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.BoltzmannSelector">
		<classes>
			<class name="org.jenetics.BoltzmannSelectorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.CharacterChromosome">
		<classes>
			<class name="org.jenetics.CharacterChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.CharacterGene">
		<classes>
			<class name="org.jenetics.CharacterGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.ConstantFitnessFunction">
		<classes>
			<class name="org.jenetics.ConstantFitnessFunctionTest" />
		</classes>
	</test>	
	<test name="org.jenetics.EnumGene">
		<classes>
			<class name="org.jenetics.EnumGeneTest" />
		</classes>
	</test>	
	<test name="org.jenetics.Float64Chromosome">
		<classes>
			<class name="org.jenetics.Float64ChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Float64Gene">
		<classes>
			<class name="org.jenetics.Float64GeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.GeneticAlgorithm">
		<classes>
			<class name="org.jenetics.GeneticAlgorithmTest" />
		</classes>
	</test>	
	<test name="org.jenetics.EnumGene">
		<classes>
			<class name="org.jenetics.EnumGeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.ExponentialRankSelector">
		<classes>
			<class name="org.jenetics.ExponentialRankSelectorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.ExponentialScaler">
		<classes>
			<class name="org.jenetics.ExponentialScalerTest" />
		</classes>
	</test>	
	<test name="org.jenetics.Genotype">
		<classes>
			<class name="org.jenetics.GenotypeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Integer64Chromosome">
		<classes>
			<class name="org.jenetics.Integer64ChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Integer64Gene">
		<classes>
			<class name="org.jenetics.Integer64GeneTest" />
		</classes>
	</test>
	<test name="org.jenetics.LinearRankSelector">
		<classes>
			<class name="org.jenetics.LinearRankSelectorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.PartiallyMatchedCrossover">
		<classes>
			<class name="org.jenetics.PartiallyMatchedCrossoverTest" />
		</classes>
	</test>
	<test name="org.jenetics.PermutationChromosome">
		<classes>
			<class name="org.jenetics.PermutationChromosomeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Phenotype">
		<classes>
			<class name="org.jenetics.PhenotypeTest" />
		</classes>
	</test>
	<test name="org.jenetics.Population">
		<classes>
			<class name="org.jenetics.PopulationTest" />
		</classes>
	</test>
	<test name="org.jenetics.ProbabilitySelector">
		<classes>
			<class name="org.jenetics.ProbabilitySelectorTest" />
		</classes>
	</test>	
	<test name="org.jenetics.RouletteWheelSelector">
		<classes>
			<class name="org.jenetics.RouletteWheelSelectorTest" />
		</classes>
	</test>		
	<test name="org.jenetics.SinglePointCrossover">
		<classes>
			<class name="org.jenetics.SinglePointCrossoverTest" />
		</classes>
	</test>	
	<test name="org.jenetics.Statistics">
		<classes>
			<class name="org.jenetics.StatisticsTest" />
		</classes>
	</test>		
	<test name="org.jenetics.NumberStatistics">
		<classes>
			<class name="org.jenetics.NumberStatisticsTest" />
		</classes>
	</test>		
	<test name="org.jenetics.Optimize">
		<classes>
			<class name="org.jenetics.OptimizeTest" />
		</classes>
	</test>		
	<test name="org.jenetics.stat.Histogram">
		<classes>
			<class name="org.jenetics.stat.HistogramTest" />
		</classes>
	</test>
	<test name="org.jenetics.stat.Quantile">
		<classes>
			<class name="org.jenetics.stat.QuantileTest" />
		</classes>
	</test>
    <test name="org.jenetics.stat.UniformDistribution">
        <classes>
            <class name="org.jenetics.stat.UniformDistributionTest" />
        </classes>
    </test>	
	<test name="org.jenetics.util.AccumulatorsTest">
		<classes>
			<class name="org.jenetics.util.AccumulatorsTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.Array">
		<classes>
			<class name="org.jenetics.util.ArrayTest" />
		</classes>
	</test>		
	<test name="org.jenetics.util.ArrayUtils">
		<classes>
			<class name="org.jenetics.util.ArrayUtilsTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.BitUtils">
		<classes>
			<class name="org.jenetics.util.BitUtilsTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.CharSet">
		<classes>
			<class name="org.jenetics.util.CharSetTest" />
		</classes>
	</test>	
	<test name="org.jenetics.util.Timer">
		<classes>
			<class name="org.jenetics.util.TimerTest" />
		</classes>
	</test>		
	<test name="org.jenetics.util.Validator">
		<classes>
			<class name="org.jenetics.util.ValidatorTest" />
		</classes>
	</test>	
</suite>

