name: Jenetics Build

on:
  push:
    branches:
      - main
      - releases/*
      - issues/*
  pull_request:
    branches:
      - main
      - releases/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Build with Gradle
      run: ./gradlew build
